383Game/Assets/EnemyHealthBar.cs
383Game/.utmp/RelWithDebInfo/4v6t4b43/arm64-v8a/configure_fingerprint.bin
383Game/Assets/47.png.meta
383Game/Assets/prefab/tl3/Animations/07.png.meta
383Game/Assets/prefab/tl6/-----------Mobile----------------.prefab
383Game/Assets/Scenes/Amazoon-S3.unity
383Game/Assets/Scenes/Freezer-S2.unity
383Game/Assets/Scenes/GameOver-Death.unity
383Game/Assets/src/tl3/Shooting.cs
383Game/Assets/src/tl6/MobileInitializer.cs
383Game/Assets/src/tl6/MobileInitializer.cs.meta
383Game/Assets/src/tl6/MobileShooting.cs
383Game/ProjectSettings/ProjectSettings.asset
